# Thư mục build của NetBeans/Ant
build/
# File cấu hình cá nhân của NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# File rác hệ thống
.DS_Store
Thumbs.db
*.log

# Cấu hình IDE khác (nếu dùng chung với VSCode/IntelliJ)
.vscode/
.idea/
*.iml
